.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  min-width: none;
  display: flex;
  align-items: center;
}



.search-bar{
  flex: 1;
  height: 36px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
  box-shadow: inset 0px 0px 0.1px rgb(196, 196, 196);
  padding-left: 4px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  font-size: 15px;
  z-index: 1;
  width: 0px;  
} 

.search-bar:focus{
  outline-color: blue;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: -1px;
} 


.search-bar::placeholder{
  font-size: 1rem;
}




.search-button{
  width: 64px;
  height: 40px;
  margin-right: 10px;
  margin-left: -1px;
  background-color: rgb(235, 235, 235);
  border-width: 1px;
  border-color: rgb(196, 196, 196);
  border-style: solid; 
  border-bottom-right-radius: 2px; 
  border-top-right-radius: 2px;
  cursor: pointer;
}

.search-icon-img{
  width: 24px;
  height: 24px;
  padding-top: 4px;
}


.voice-search-button{
  width: 40px;
  height: 40px;
  border-radius: 80px;
  border: none;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}


.voice-search-icon-img{
  width: 24px;
  height: 24px;
  padding-top: 4px;
}


.search-button{
  position: relative;
}

.search-button .tool-tip{
  position: absolute;
  bottom: -25px;
  left: 10px;
  background-color: gray;
  color: white;
  font-family: roboto, arial;
  padding: 4px;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
}


.voice-search-button{
  position: relative;
}


.voice-search-button .tool-tip{
  position: absolute;
  bottom: -25px;
  left: -40px;
  background-color: gray;
  color: white;
  font-family: roboto, arial;
  padding: 4px;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: 0.15s;
}


.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip{
  opacity: 1;
}